# ==========================================
# 1. Секреты и ключи (КРИТИЧНО)
# ==========================================
# Здесь будут лежать токены от Telegram, API ключи OpenAI/Anthropic и базы данных.
# Утечка этого файла = потеря денег и доступов.
.env

# ==========================================
# 2. Тяжелые файлы ML (Веса и Данные)
# ==========================================
# Git не предназначен для хранения файлов по 40 МБ (и тем более по несколько ГБ).
# Для этого используют DVC (Data Version Control) или Hugging Face Hub.
data/

# ==========================================
# 3. Виртуальное окружение
# ==========================================
# У каждого разработчика или сервера оно должно собираться заново через requirements.txt
venv/
env/
.venv/

# ==========================================
# 4. Кэш Python и временные файлы
# ==========================================
__pycache__/
*.py[cod]
*$py.class
*.log
*.sqlite3

# ==========================================
# 5. Настройки редакторов кода (IDE)
# ==========================================
.vscode/
.idea/


model.txt
patapim.py